<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <title>상세페이지</title>
  </head>
  <body>
    <div class="text-right bg-black">
      <h1 class="text-[20px]">상세</h1>
      <div class="text-[20px] text-yellow-200">
        <a href="../../../index.html">홈으로 이동</a>
        <p>상세 페이지 입니다</p>
      </div>
    </div>
    <script src="./detail.ts" type="module"></script>
  </body>
</html>
